<item>
  <h3>{{@item.text}}</h3>
  <ol>
    {{#each @item.facets as |facet|}}
      <li>
        <strong>{{facet.fieldName}}:</strong>
        <em>{{get facet facet.fieldName}}</em>
        <p>{{facet.description}}</p>
      </li>
    {{/each}}
  </ol>
</item>